p {
                                                   
  color: blue;                              /*External css */
  background-color: chartreuse;
  
}

/* Points : 
/* External css got higher priority than internal css.  
/* So, External css > Internal css. 

/* If you get higher priority in internal css than over external css then do it, 


/* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Tutorial</title>

    <link rel="stylesheet" href="tut13.css">    (******* Do it ********)

    <style>
        p {                                  /* (Internal CSS get priority over external css ) */
/* color: red;       
            background-color: aqua;
        }
    </style>
</head>
<body>
    <h3>This is CSS Tutorial : </h3>
    <!-- <p style="color: red;background-color: yellow;">This tutorial will teach you everything you need to know about HTML/CSS.</p>   (Inline CSS) -->
    <p>This tutorial will teach you everything you need to know about HTML/CSS.</p>
    
</body>
</html> */
